In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bengkulu,ID,2021-12-23 04:57:45,-3.8004,102.2655,80.31,81,86,12.15
1,1,Delijan,IR,2021-12-23 04:57:46,33.9905,50.6838,40.91,35,1,3.98
2,2,Rikitea,PF,2021-12-23 04:57:46,-23.1203,-134.9692,77.45,77,85,7.11
3,3,Avarua,CK,2021-12-23 04:57:47,-21.2078,-159.7750,73.45,94,75,13.80
4,4,Kapaa,US,2021-12-23 04:57:47,22.0752,-159.3190,72.12,72,93,3.00

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bengkulu,ID,2021-12-23 04:57:45,-3.8004,102.2655,80.31,81,86,12.15
2,2,Rikitea,PF,2021-12-23 04:57:46,-23.1203,-134.9692,77.45,77,85,7.11
19,19,Butaritari,KI,2021-12-23 04:57:53,3.0707,172.7902,81.39,77,99,6.04
21,21,Honiara,SB,2021-12-23 04:54:30,-9.4333,159.9500,83.98,75,94,4.97
23,23,Mahebourg,MU,2021-12-23 04:57:54,-20.4081,57.7000,81.25,89,75,13.80
27,27,Mont-Dore,NC,2021-12-23 04:57:56,-22.2833,166.5833,86.00,99,39,12.35
32,32,Busselton,AU,2021-12-23 04:57:58,-33.6500,115.3333,85.15,39,27,12.75
42,42,Lumphat,KH,2021-12-23 04:58:02,13.4878,106.9816,83.77,52,100,4.63
43,43,Bathsheba,BB,2021-12-23 04:58:02,13.2167,-59.5167,81.21,69,40,21.85
51,51,Atuona,PF,2021-12-23 04:59:06,-9.8000,-139.0333,79.07,78,36,21.00

In [32]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0     Bengkulu      ID     80.31  -3.8004  102.2655
2      Rikitea      PF     77.45 -23.1203 -134.9692
19  Butaritari      KI     81.39   3.0707  172.7902
21     Honiara      SB     83.98  -9.4333  159.9500
23   Mahebourg      MU     81.25 -20.4081   57.7000
27   Mont-Dore      NC     86.00 -22.2833  166.5833
32   Busselton      AU     85.15 -33.6500  115.3333
42     Lumphat      KH     83.77  13.4878  106.9816
43   Bathsheba      BB     81.21  13.2167  -59.5167
51      Atuona      PF     79.07  -9.8000 -139.0333

In [35]:
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitutde
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location keys for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

hotel_df.head(10)

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bengkulu,ID,80.31,-3.8004,102.2655,Grage Hotel Bengkulu
2,Rikitea,PF,77.45,-23.1203,-134.9692,People ThankYou
19,Butaritari,KI,81.39,3.0707,172.7902,Isles Sunset Lodge
21,Honiara,SB,83.98,-9.4333,159.9500,Heritage Park Hotel
23,Mahebourg,MU,81.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
27,Mont-Dore,NC,86.00,-22.2833,166.5833,GIte
32,Busselton,AU,85.15,-33.6500,115.3333,Observatory Guest House
42,Lumphat,KH,83.77,13.4878,106.9816,Lumphat Homestay
43,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
51,Atuona,PF,79.07,-9.8000,-139.0333,Villa Enata

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))