## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.5069,80.5464,-19.71,97,100,21.34,light snow
1,1,Port Alfred,ZA,-33.5906,26.8910,71.33,91,98,4.92,overcast clouds
2,2,Hokitika,NZ,-42.7167,170.9667,68.54,72,45,6.76,scattered clouds
3,3,East London,ZA,-33.0153,27.9116,70.16,93,16,2.73,few clouds
4,4,Mataura,NZ,-46.1927,168.8643,55.47,78,100,5.35,overcast clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Port Alfred,ZA,-33.5906,26.8910,71.33,91,98,4.92,overcast clouds
3,3,East London,ZA,-33.0153,27.9116,70.16,93,16,2.73,few clouds
5,5,Georgetown,MY,5.4112,100.3354,80.53,76,20,1.01,few clouds
7,7,Mitsamiouli,KM,-11.3847,43.2844,82.18,71,93,4.50,overcast clouds
14,14,Arraial Do Cabo,BR,-22.9661,-42.0278,74.97,92,100,24.18,overcast clouds
15,15,Rikitea,PF,-23.1203,-134.9692,74.48,76,100,15.46,overcast clouds
21,21,Catole Do Rocha,BR,-6.3439,-37.7467,78.64,67,100,4.79,overcast clouds
22,22,Mahebourg,MU,-20.4081,57.7000,76.24,81,68,8.34,broken clouds
26,26,Buala,SB,-8.1450,159.5921,85.82,69,96,8.21,light rain
28,28,Bambous Virieux,MU,-20.3428,57.7575,76.21,81,73,8.30,broken clouds

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                221
City                   221
Country                219
Lat                    221
Lng                    221
Max Temp               221
Humidity               221
Cloudiness             221
Wind Speed             221
Current Description    221
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Port Alfred,ZA,-33.5906,26.8910,71.33,91,98,4.92,overcast clouds
3,3,East London,ZA,-33.0153,27.9116,70.16,93,16,2.73,few clouds
5,5,Georgetown,MY,5.4112,100.3354,80.53,76,20,1.01,few clouds
7,7,Mitsamiouli,KM,-11.3847,43.2844,82.18,71,93,4.50,overcast clouds
14,14,Arraial Do Cabo,BR,-22.9661,-42.0278,74.97,92,100,24.18,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Port-Gentil,GA,-0.7193,8.7815,79.25,83,83,7.09,broken clouds
686,686,Aquiraz,BR,-3.9014,-38.3911,81.21,77,99,8.55,overcast clouds
694,694,Palu,ID,-0.8917,119.8707,88.97,59,61,3.58,broken clouds
699,699,Sinnamary,GF,5.3833,-52.9500,76.32,85,79,9.62,broken clouds
701,701,Payakumbuh,ID,-0.2202,100.6308,82.26,63,35,1.79,scattered clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,71.33,overcast clouds,-33.5906,26.8910,
3,East London,ZA,70.16,few clouds,-33.0153,27.9116,
5,Georgetown,MY,80.53,few clouds,5.4112,100.3354,
7,Mitsamiouli,KM,82.18,overcast clouds,-11.3847,43.2844,
14,Arraial Do Cabo,BR,74.97,overcast clouds,-22.9661,-42.0278,
15,Rikitea,PF,74.48,overcast clouds,-23.1203,-134.9692,
21,Catole Do Rocha,BR,78.64,overcast clouds,-6.3439,-37.7467,
22,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,
26,Buala,SB,85.82,light rain,-8.1450,159.5921,
28,Bambous Virieux,MU,76.21,broken clouds,-20.3428,57.7575,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")
    
hotel_df.head(10)

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,71.33,overcast clouds,-33.5906,26.8910,The Halyards Hotel
3,East London,ZA,70.16,few clouds,-33.0153,27.9116,Tu Casa
5,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
7,Mitsamiouli,KM,82.18,overcast clouds,-11.3847,43.2844,Foyer ADM
14,Arraial Do Cabo,BR,74.97,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
15,Rikitea,PF,74.48,overcast clouds,-23.1203,-134.9692,People ThankYou
21,Catole Do Rocha,BR,78.64,overcast clouds,-6.3439,-37.7467,"Berço da Civilização Ocidental, Epicentro da T..."
22,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
26,Buala,SB,85.82,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
28,Bambous Virieux,MU,76.21,broken clouds,-20.3428,57.7575,Casa Tia Villa

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,71.33,overcast clouds,-33.5906,26.8910,The Halyards Hotel
3,East London,ZA,70.16,few clouds,-33.0153,27.9116,Tu Casa
5,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
7,Mitsamiouli,KM,82.18,overcast clouds,-11.3847,43.2844,Foyer ADM
14,Arraial Do Cabo,BR,74.97,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))